@-webkit-keyframes throb {
    from { width: 512px; }
    to { width: 500px; }
}
@-moz-keyframes throb {
    from { width: 512px; }
    to { width: 500px; }
}@keyframes throb {
     from { width: 512px; }
     to { width: 500px; }
 }


#logo {
    -webkit-animation: throb 1s infinite alternate;
    -moz-animation: throb 1s infinite alternate;
    -animation: throb 1s infinite alternate;
}
