body {
    background-color: lightpink;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 32px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    background-color: lightgray;
    display: inline-block;
    padding: 2% 3%;
    margin: 8% 0 6% 0;
    border: 0.35em dashed darkgrey;
    width: 75%;
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
    color: black;
}

.quadrants {
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 4%;
    box-sizing: border-box;
    width: 100%;
    font-size: 2em;
}

.quadrant {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    flex: 1;
    vertical-align: middle;
}

.row {
    width: 100%;
}

.top h2.row {
    align-self: flex-end;
}

.bottom h1.row {
    align-self: flex-end;
}

.bottom {
    background-image: url('../img/rash-or-not-rash.jpg');
}

.logo {
    margin: 0 3%;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 6%;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

h1 {
    color: red;
    margin: 0;
    font-size: 1em;
}

h2 {
    color: black;
    margin: 0;
    font-size: 0.5em;
}

#rashy {
    width: 100%;
}